
 .space-buttons{
  flex: 1 1 auto;
}
.home{
  font-size: medium;
}

button{
margin-left: auto;
}

html, body {
  height: 0%;
}


body {
  padding-top: 70px;
}
.main-content {
  padding-top: 70px;
}


.navbar.navbar-expand-lg.navbar-dark{
 background: rgb(34, 34, 34);
border-radius: 20;
border-top-left-radius: 20;
border-top-right-radius: 20;
border-bottom-right-radius: 20;
border-bottom-left-radius: 20;
border-style: none;
padding-top:10px;
padding-bottom: 10px;
margin-bottom: 20px;
position: fixed;
width: 100%;
top: 0;
z-index: 1000;

}



 .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

 .b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}


.fontuser{
  font-family: 'Roboto Slab', serif;
  font-size: 30px !important;
}

/* Add this to your existing styles */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Optional: Style the dropdown items */
.dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 16px;
  color: #333; /* Customize the color as needed */
}



