/*
.buttonaddprod{
  margin: 10px;
}

mat-grid-tile {
   border: 1px solid #eee;
   padding: 5px;
}

.btn-remove-image {
  position: absolute;
  cursor: pointer;
  top: 1px;
  right: 1px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: auto;
  text-align: center;
}

.dropzone{
  height: 150px;
  min-width: 100px;
  display: table;
  background-color: #eee;
  width: 100%;
  border: dashed 1px #aaa;
  border-radius: 10px;
  margin-left:auto;
  margin-right: auto;
}

.text-wrap{
  display: table-cell;
  vertical-align: middle;
}

.centered{
  text-align: center;
}

.broswse{
   color: blue;
   cursor: pointer;
}


@media screen and (max-width: 768px) {
  .dropzone{
    height: auto;
    min-width: 50px;
  }
}
*/
/* styles.css */

.buttonaddprod {
  margin: 10px;
}

.mat-grid-tile {
  border: 1px solid #eee;
  padding: 5px;
}

.btn-remove-image {
  position: absolute;
  cursor: pointer;
  top: 1px;
  right: 1px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: auto;
  text-align: center;
}

.dropzone {
  height: 150px;
  min-width: 100px;
  display: table;
  background-color: #eee;
  width: 100%; /* Changed from 250px to 100% */
  border: dashed 1px #aaa;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.text-wrap {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  text-align: center;
}

.broswse {
  color: blue;
  cursor: pointer;
}

/* Added media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .img-thumbnail {
    width: 100%;
    height: auto;
  }
}

.btn{
  margin: 10px;

}


/*

/*
.buttonaddprod{
  margin: 10px;

}

mat-grid-tile {
   border: 1px solid #eee;
   padding: 5px;
  }




  .btn-remove-image {
    position: absolute;
    cursor: pointer;
    top: 1px;
    right: 1px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}

.dropzone{
  height: 150px;
  min-width: 100px;
  display: table;
  background-color: #eee;
  width: 250px;
  border: dashed 1px #aaa;
  border-radius: 10px;
  margin-left:auto;
  margin-right: auto;
}

.text-wrap{
  display: table-cell;
  vertical-align: middle;

}
.centered{
  text-align: center;
}

.broswse{
   color: blue;
   cursor: pointer;
}

 */
