/* .description{
    font-size: 20px;
    color: #5a5a5a;
    margin-top: 20px;
}
 */
 .description{
  width: 35% !important;
  text-align: left;
 }


 input,
 button,
 select,
 optgroup,
 textarea {
   margin: 0px 0.5rem 0px 0px !important;
   font-family: inherit;
   font-size: inherit;
   line-height: normal !important;
 }
