

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
     <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
     <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
     <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
     <link rel="stylesheet" href="assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
</head>

<body>
  <div class="container-fluid">
    <div class="card m-5">
      <div class="card-header py-3">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h5 class="card-title text-primary">SHOW PRODUCTS</h5>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search any product" aria-label="Search any product" aria-describedby="button-addon2" #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchByKeyword(searchkeyword.value)">Search</button>
            </div>
          </div>
          <div class="col-sm-6 text-end">
            <button type="button" class="btn btn-primary" (click)="add()"><i class="fa fa-plus"></i>&nbsp;Add Product</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actual Price</th>
                <th>Discount Price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of productDetails">
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.productDescription}}</td>
                <td>{{product.productActualprice}}</td>
                <td>{{product.productDiscountprice}}</td>
                <td>
                  <button type="button" class="btn btn-primary me-2" (click)="showImages(product)"><i class="far fa-eye"></i> </button>
                  <button type="button" class="btn btn-success me-2" (click)="editProductDetails(product.productId)"><i class="fas fa-pen"></i></button>
                  <button type="button" class="btn btn-danger" (click)="deleteProduct(product.productId)"><i class="fas fa-trash"></i> </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-center p-5" *ngIf="showLoadMoreProductButton">
          <button class="btn btn-primary" (click)="loadMoreProduct()">Load more</button>
        </div>
      </div>
    </div>
  </div>
</body>
