<!--  <!DOCTYPE html>
<html lang="en">
<body>

  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="d-flex flex-column justify-content-center" id="login-box">
        <div class="login-box-header">
            <h4 style="color:rgb(139,139,139);margin-bottom:0px;font-weight:400;font-size:27px;">Login</h4>
        </div>
        <div class="login-box-content">
            <div class="fb-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" href="#"><i class="fa fa-facebook" style="margin-left:0px;padding-right:20px;padding-left:22px;width:56px;"></i>Login with Facebook</a></div>
            <div class="gp-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" style="margin-bottom:10px;" href="#"><i class="fa fa-google" style="color:rgb(255,255,255);width:56px;"></i>Login with Google+</a></div>
        </div>
        <div class="d-flex flex-row align-items-center login-box-seperator-container">
            <div class="login-box-seperator"></div>
            <div class="login-box-seperator-text">
                <p style="margin-bottom:0px;padding-left:10px;padding-right:10px;font-weight:400;color:rgb(201,201,201);">or</p>
            </div>
            <div class="login-box-seperator"></div>
        </div>
        <div class="email-login" style="background-color:#ffffff;">

           <input type="text"
          ngModel
           name="userName"
           id="userName"
           placeholder="Enter Your UserName"
           style="margin-top:10px;"
            minlength="6"
            class="email-imput form-control"
             required>

          <input type="password"

          ngModel
          name="userPassword"
          id="userPassword"
          placeholder="Enter Your userPassword"
          style="margin-top:10px;"
          minlength="6"
          class="password-input form-control"
          required
          >



          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
            </div>
        </div>
          <div class="submit-row" style="margin-bottom:8px;padding-top:0px;"><button class="btn btn-primary btn-block box-shadow" id="submit-id-submit" type="submit">Login</button>
            <div class="d-flex justify-content-between">
                <div class="form-check form-check-inline" id="form-check-rememberMe"><input class="form-check-input" type="checkbox" id="formCheck-1" for="remember" style="cursor:pointer;" name="check"><label class="form-check-label" for="formCheck-1"><span class="label-text">Remember Me</span></label></div><a id="forgot-password-link" href="#">Forgot Password?</a>
            </div>
        </div>
        <div id="login-box-footer" style="padding:10px 20px;padding-bottom:23px;padding-top:18px;">
            <p style="margin-bottom:0px;cursor: pointer;" >Don't you have an account?<a id="register-link" (click)="register()" >Sign Up!</a></p>
        </div>
    </div>

  </form>

</body>

</html> -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">


<section class="py-5">
  <div class="container py-5">
      <div class="row mb-4 mb-lg-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
              <p class="fw-bold text-success mb-2">Login</p>
              <h2 class="fw-bold">Welcome back</h2>
          </div>
      </div>
      <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-xl-4">

              <div class="card">

                  <div class="card-body text-center d-flex flex-column align-items-center">

                      <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"></path>
                          </svg></div>
                      <form method="post" data-bs-theme="light" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                         <div class="mb-3">
                            <input type="text" class="form-control" id="userName" type="userName" name="userName" placeholder="userName"  ngModel name="userName"  required>
                          </div>
                          <div class="mb-3">
                            <input class="form-control" id="userPassword" type="password" name="userPassword" ngModel placeholder="Password" required>
                          </div>


                          <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Log in</button></div>

                          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                            {{ errorMessage }}
                            </div>

                      </form>
                      <p class="text-muted"  >Don't you have an account? <a class="fw-bold" style=" cursor: pointer;" id="register-link" (click)="register()" >Sign Up!</a></p>
                      <a class="text-muted" class="fw-bold" style="cursor: pointer;" (click)="forgetPassword()">Forgot your password?</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

