
<body style="background-color: rgba(248,249,255,255);">
<div class="container">
  <input pInputText  name="searchKey" placeholder="Search any product" (keyup)="searchByKeyword($event)" [(ngModel)]="searchKey" style="width: 160px;height: 45px; ;">

    <h3 align="center">Newest Trends</h3>
  <div class="row">
      <div class="col-md-3 col-sm-6" style="padding-bottom: 40px;" *ngFor="let item of productDetails">
          <div class="product-grid7">
              <div class="product-image7">
                  <img [class]="getClass(i)" [src]="fileHandle.url" *ngFor="let fileHandle of item.productImages; let i = index">

                  <span class="product-new-label" [ngStyle]="{'background-color': getStockStatus(item).color}">{{getStockStatus(item).status}}</span>

              </div>
              <div class="product-content">
                  <h3 class="title">{{item.productName}}</h3>
                  <div>
                      {{item.productDescription}}
                  </div>
                  <div class="price" *ngIf="item.productDiscountprice !== item.productActualprice">{{item.productDiscountprice}} TND
                    <span>{{item.productActualprice}} TND</span>
                </div>
                <div class="price" *ngIf="item.productDiscountprice === item.productActualprice">{{item.productActualprice}} TND</div>

                <div class="d-flex justify-content-center w-60">
                  <button pButton type="button" label="Details" class="custom-button" (click)="showprodcut(item.productId,true)"></button>
                  <button pButton type="button" label="ADD" class="custom-button" (click)="item.show=true" *ngIf="!item.show"></button>
                  <select [(ngModel)]="selectedSize" *ngIf="item.show" style="margin-left: 5px !important;">
                    <option *ngFor="let size of item.productSizes" [value]="size.size" [disabled]="size.quantity === 0">{{size.size}}</option>
                  </select>



                  <input type="number" pInputText [(ngModel)]="amount" min="1" [max]="getQuantityForSelectedSize(item, selectedSize)" *ngIf="item.show" style="margin-top: 8px;margin-bottom: 8px;">


                  <button pButton type="button" label="ADD" class="custom-button" (click)="addtocart(item,selectedSize);item.show=false" *ngIf="item.show"></button>
                </div>
                <p-toast position="bottom-right"></p-toast>



              </div>
          </div>
      </div>
  </div>


  <div class="text-center mt-5 d-flex justify-content-center" style="padding-bottom: 100px;" *ngIf="showLoadButton">
      <button pButton type="button" label="Load more" (click)="loadMoreProduct()"></button>
  </div>
  <div class="mt-5">
  </div>
</div>

</body>
