 <body >
 <div class="container">
  <div class="p-grid cartBox">
    <div class="p-col">
      <h1 class="fw-normal mb-0 text-black">Shopping Cart</h1>
      <div class="headCart">
        <p class="lead">You have <label class="text-danger">{{cartDetails.length}}</label> item in your cart</p>
        <button pButton type="button" class="btn btn-warning"  (click)="clearCart()">Clear Shopping Cart</button>
      </div>
      <p-table [value]="cartDetails" class="table table-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Size</th>
            <th style="width:20%;">Quantity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{item.product.productId}}</td>
            <td>
              <img [src]="item.product.productImages[0].url.changingThisBreaksApplicationSecurity" class="product-image">
            </td>

            <td>{{item.product.productName}}</td>
            <td>{{item.product.productDiscountprice}}</td>
            <td>{{item.size}}</td>
            <td>
              <div class="quantity">
                <button pButton type="button" class="btn btn-dark" (click)="addAmount(rowIndex)">+</button>
                <input class="form-control" type="number" [(ngModel)]="item.quantity" (change)="detectChange()" [max]="getQuantityForSelectedSize(item)" min="1" style="text-align: center;" >
                <button pButton type="button" class="btn btn-dark" (click)="minsAmount(rowIndex)">-</button>
              </div>
            </td>
            <td>{{item.product.productDiscountprice * item.quantity}}</td>
            <td><button pButton type="button" class="btn btn-danger" (click)="deleteProduct(item.cartId)">Delete</button></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

            <th>Total : {{total}} TND</th>
            <th><button pButton type="button" class="btn btn-success" (click)="navigate()">Order Now</button></th>
           <!--  <th> <p-button label="Submit" [loading]="loading" (onClick)="load()"></p-button></th> -->
            <th></th>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="orderSuccess">
    <strong>Well done!</strong> Your Order is Successfully Send
  </div>
</div>
</body>
