<!-- <div class="container">
  <div class="cartBox">
    <h1 class="fw-normal mb-0 text-black">Shopping Cart</h1>
  <div class="headCart">
    <p class="lead">You have <label class="text-danger ">{{cartDetails.length}}</label> item in your cart</p>
    <span class="fw-normal mb-0 text-black card-header" (click)="clearCart()">Clear Shopping Cart</span>
  </div>
    <table class="table table-striped">
        <thead>
            <tr>

                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th style="width: 25%;">Quantity</th>
                <th>Total</th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of cartDetails;let index = index">

               <td>{{item.product.productId}}</td>
               <td>
                <div *ngFor="let image of item.product.productImages">
                  <img [src]="sanitizer.bypassSecurityTrustResourceUrl(image.url)" alt="Product Image">
                </div>  image
              </td>

                   <td>{{item.product.productName}}</td>
                <td>{{item.product.productDiscountprice}}</td>
                <td>
                    <div class="quantity">
                      <button class="btn btn-dark" (click)="addAmount(index)" >+</button>
                         <input class="form-control" type="number" (change)="detectChange()" [(ngModel)]="item.quantity"  min="1">
                         <button class="btn btn-dark" (click)="minsAmount(index)" >-</button>

                  </div>
                </td>
                <td>{{item.product.productDiscountprice * item.quantity}}</td>

               <td>
                    <button class="btn btn-danger" (click)="deleteProduct(item.cartId)">Delete</button>
                </td>

            </tr>


        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total : {{total}} TND</th>
                <th><button class="btn btn-success" (click)="checkout()">Order Now</button></th>
            </tr>
        </tfoot>
    </table>

  </div>
  <div class="alert alert-success" role="alert" *ngIf="orderSuccess"><strong>Well done!</strong> Your Order is Successfully Send</div>
</div>
 -->
 <div class="container">
  <div class="p-grid cartBox">
    <div class="p-col">
      <h1 class="fw-normal mb-0 text-black">Shopping Cart</h1>
      <div class="headCart">
        <p class="lead">You have <label class="text-danger">{{cartDetails.length}}</label> item in your cart</p>
        <button pButton type="button" class="btn btn-warning"  (click)="clearCart()">Clear Shopping Cart</button>
      </div>
      <p-table [value]="cartDetails" class="table table-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th style="width: 25%;">Quantity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{item.product.productId}}</td>
            <td>image</td>
            <td>{{item.product.productName}}</td>
            <td>{{item.product.productDiscountprice}}</td>
            <td>
              <div class="quantity">
                <button pButton type="button" class="btn btn-dark" (click)="addAmount(rowIndex)">+</button>
                <input class="form-control" type="number" [(ngModel)]="item.quantity" (change)="detectChange()" min="1">
                <button pButton type="button" class="btn btn-dark" (click)="minsAmount(rowIndex)">-</button>
              </div>
            </td>
            <td>{{item.product.productDiscountprice * item.quantity}}</td>
            <td><button pButton type="button" class="btn btn-danger" (click)="deleteProduct(item.cartId)">Delete</button></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total : {{total}} TND</th>
            <th><button pButton type="button" class="btn btn-success" (click)="checkout()">Order Now</button></th>
            <th></th>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="orderSuccess">
    <strong>Well done!</strong> Your Order is Successfully Send
  </div>
</div>
