

<div class="container">
<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">

  <div class="grid">
      <div class="col-12 md:col-6 lg:col-12">
        <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Orders</span>
                    <div class="text-900 font-medium text-xl">{{ ordernumber }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{ newOrdersCount }}  </span>
            <span class="text-500">Today's Orders</span>
        </div>
</div>


        <div class="col-12 md:col-6 lg:col-12">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Revenue</span>
                      <div class="text-900 font-medium text-xl">{{revenue}} TND</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">{{newRevenue}}</span>
              <span class="text-500">Today's Revenue</span>
          </div>
      </div>

        <div class="col-12 md:col-6 lg:col-12">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Customers</span>
                      <div class="text-900 font-medium text-xl">{{totalUserCount}}</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">{{newUserCount}}</span>
              <span class="text-500"> Registered Today</span>
          </div>
      </div>

        <div class="col-12 md:col-6 lg:col-12">
          <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Messages</span>
                      <div class="text-900 font-medium text-xl">{{contact}}</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-comment text-purple-500 text-xl"></i>
                  </div>
              </div>
              <span class="text-green-500 font-medium">{{newContact}} </span>
              <span class="text-500">New Messages Today</span>
          </div>
      </div>
  </div>
  <div class="table-margin">

  <div class="card">
    <p-chart type="line" [data]="data" [options]="options"></p-chart>
  </div>
</div>
<div class="table-margin">
  <h2>Top 10 Rated Products</h2>
  <p-table responsiveLayout="scroll" [value]="topRatedProducts" class="responsive-table">
<ng-template pTemplate="header" style="border-width: 1px;">
  <tr>
    <th class="border">ID</th>
    <th class="border">Name</th>
    <th class="border">Image</th>
    <th class="border">Rating</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-item>
  <tr>
    <td>{{ item.product.productId }}</td>

    <td>{{ item.product.productName }}</td>
    <td>
      <img [src]="item.product.productImages[0].url" alt="{{ item.product.productName }}" class="product-image" />
    </td>
    <td>{{item.averageRating}}</td>
  </tr>
  </ng-template>
</p-table>
</div>



<div class="table-margin">
  <h2>Top 10 Ordered Products</h2>
<p-table responsiveLayout="scroll" [value]="topProducts" class="responsive-table">
  <ng-template pTemplate="header" style="border-width: 1px;">
    <tr>

      <th class="border">ID</th>
      <th class="border">Name</th>
      <th class="border">Image</th>
      <th class="border">Orders</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.product.productId }}</td>

      <td>{{ item.product.productName }}</td>
      <td>
        <img [src]="item.product.productImages[0].url" alt="{{ item.product.productName }}" class="product-image" />
      </td>
      <td>{{item.orderCount}}</td>
    </tr>
  </ng-template>
</p-table>
</div>

<div class="table-margin">
  <h2>Worst 10 Rated Products</h2>
  <p-table responsiveLayout="scroll" [value]="LeastRatedProducts" class="responsive-table">
<ng-template pTemplate="header" style="border-width: 1px;">
  <tr>
    <th class="border">ID</th>
    <th class="border">Name</th>
    <th class="border">Image</th>
    <th class="border">Rating</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-item>
  <tr>
    <td>{{ item.product.productId }}</td>

    <td>{{ item.product.productName }}</td>
    <td>
      <img [src]="item.product.productImages[0].url" alt="{{ item.product.productName }}" class="product-image" />
    </td>
    <td>{{item.averageRating}}</td>
  </tr>
  </ng-template>
</p-table>
</div>

<div class="table-margin">
  <h2>Least 10 Ordered Products</h2>
<p-table responsiveLayout="scroll" [value]="LeastProducts" class="responsive-table">
  <ng-template pTemplate="header" style="border-width: 1px;">
    <tr>

      <th class="border">ID</th>
      <th class="border">Name</th>
      <th class="border">Image</th>
      <th class="border">Orders</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.product.productId }}</td>

      <td>{{ item.product.productName }}</td>
      <td>
        <img [src]="item.product.productImages[0].url" alt="{{ item.product.productName }}" class="product-image" />
      </td>
      <td>{{item.orderCount}}</td>
    </tr>
  </ng-template>
</p-table>
</div>

</div>
</div>
