

.font-48px {
  font-size: 48px;
}
button.p-button.custom-button {
  background-color: rgb(0, 0, 0) !important;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 10px;
  font-size: 18px;
  margin-right: 1%;
  margin-left: 1%;

}
