

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


    </style>


    <link href="carousel.css" rel="stylesheet">

  <body>


<main>


  <div class="carousel-container" id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="image-container">
          <img src="assets/girl.jpg" class="featurette-image img-fluid mx-auto">
<!-- <img [src]="topProduct.productImages[0].url" alt="{{ topProduct.productName }}"  style="object-fit: cover;" class="featurette-image img-fluid mx-auto" >-->
      </div>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 >Women.</h1>
            <p>Discover More.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="image-container">
          <img src="assets/men.jpg" class="featurette-image img-fluid mx-auto">

<!--           <img [src]="topProduct.productImages[0].url" alt="{{ topProduct.productName }}" class="featurette-image img-fluid mx-auto" >
 -->      </div>
      <div class="container">
          <div class="carousel-caption">
            <h1 >Men</h1>
            <p>Discover More.</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div class="image-container">

        <img  [src]="topRatedProduct.productImages[0].url" alt="{{ topRatedProduct.productName }}" class="featurette-image img-fluid mx-auto" >
        </div>


        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>






  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4" *ngFor="let product of products">
 <img [src]="product.productImages[0].url" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="{{product.productName}}"/>
        <h2>{{product.productName}}</h2>

        <button pButton type="button" label="View Details" class="custom-button" (click)="showprodcut(product.productId,true)"></button>
      </div>
    </div>







    <div class="row featurette" style="margin-bottom: 4rem; margin-top: 4rem;">
      <div class="col-md-7">
        <h4 class="featurette-heading">Best Seller</h4>
        <h2 class="featurette-heading">{{ topProduct.productName }}</h2>
        <p class="lead">{{ topProduct.productDescription }}</p>
      </div>
      <div class="col-md-5">
        <img [src]="topProduct.productImages[0].url" alt="{{ topProduct.productName }}" class="featurette-image img-fluid mx-auto">

      </div>
    </div>


    <div class="row featurette" style="margin-bottom: 4rem;">
      <div class="col-md-7">
        <h4 class="featurette-heading">Top Rated</h4>
        <h2 class="featurette-heading">{{ topRatedProduct.productName }}</h2>
        <p class="lead">{{ topRatedProduct.productDescription }}</p>
      </div>
      <div class="col-md-5">
        <img [src]="topRatedProduct.productImages[0].url" alt="{{ topRatedProduct.productName }}" class="featurette-image img-fluid mx-auto">
      </div>
    </div>


  </div>


  <!-- FOOTER -->
  <footer >
   <app-footer></app-footer>
  </footer>
</main>



  </body>
