.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

.product-information {
  font-size: medium;
}

.image-container {
  height: 500px;
  position: relative;
}

.product-zoom-image {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Add transition for smooth zoom effect */

}
.product-zoom-image:hover {
  transform: translate(-50%, -50%) scale(1.1); /* Scale the image up to 110% when hovered */
}

@media screen and (max-width: 768px) {
  .product-zoom-image {
    max-width: 100%;
    max-height: 100%;
  }
}

button{
  margin: 1%;
}
