.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

.product-information {
  font-size: medium;
}

.image-container {
  height: 500px;
  position: relative;
}

.product-zoom-image {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Add transition for smooth zoom effect */

}
.product-zoom-image:hover {
  transform: translate(-50%, -50%) scale(1.1); /* Scale the image up to 110% when hovered */
}

@media screen and (max-width: 768px) {
  .product-zoom-image {
    max-width: 100%;
    max-height: 100%;
  }
}

button{
  margin: 1%;
}


.container {
  font-family: Arial, sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 2em;
}

.row {
  margin-bottom: 1em;
}

img.rounded-circle {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 72px;
}

button.btn {
  margin-top: 1em;
}
@media only screen and (max-width: 600px) {
  .comment-box {
    flex-direction: column;
    align-items: center;
  }
  .comment-user {
    justify-content: center;
  }
  .comment-date {
    text-align: center;
  }
  .comment-text {
    justify-content: center;
  }
  .comment-reply {
    justify-content: stretch;
    align-items: stretch;
  }

  .reply-box {
    width: 90vw;
  }
  .comment-form {
    flex-direction: column;
    align-items: center;
  }
  .comment-buttons {
    justify-content: center;
  }



}
