
<link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card image-container p-3">
        <img [src]="product.productImages[selectedProductIndex].url" class="product-zoom-image">
    </div>
      <div class="mt-2">
        <mat-grid-list cols="4" gutterSize="10" rowHeight="1:1">
            <mat-grid-tile *ngFor="let item of product.productImages; let i = index;" (click)="changeIndex(i)" style="border: 1px solid lightgrey; cursor: pointer;">
                <img [src]="item.url" height="100px" >
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="product-Info">
        <div class="mt-3">
          <h2>{{product.productName}}</h2>
        </div>
        <div class="mt-3">
           Description: <br>
          {{product.productDescription}}
        </div>

        <div class="mt-3" >
          <b> {{product.productDiscountprice}}</b> <b> TND</b>&nbsp;&nbsp;<b *ngIf="product.productDiscountprice !== product.productActualprice" style="text-decoration: line-through;">{{product.productActualprice}}</b>
        </div>

        <div class="ref-variant"><label><span>Size : </span>
          <select [(ngModel)]="selectedSize" class="ref-form-control ref-field-variants" name="variant-state" required>
          <option *ngFor="let size of product.productSizes" [value]="size.size">{{size.size}}</option>
      </select></label>
    </div>
    <span>Quantity : </span>
      <span data-reflow-variant="199976733_s" data-reflow-product="717978921" data-reflow-max-qty="999" data-reflow-quantity="1">
        <div class="ref-quantity-widget">
            <div class="ref-decrease" (click)="decreaseAmount()"><span></span></div>
            <input type="text"  pInputText [(ngModel)]="amount" min="1" [max]="getQuantityForSelectedSize(product, selectedSize)" />
            <div class="ref-increase" (click)="increaseAmount()"><span></span></div>
        </div>
    </span>

        <div class="mt-5 text-center">
          <button  mat-raised-button  style="width: 200px;" (click)="buyProduct()" > Back To Gallery</button>
          &nbsp;
          <button  mat-raised-button color="warn" style="width: 200px;" (click)="addtocart(product,selectedSize)"  >Add to Cart</button>
      </div>
      </div>
      <div>
          <h2>Users Rating:<h4>{{averageRate}}/5</h4> </h2>
        </div>
<div class="mt-3">
  <label for="rating">Your rating:</label>
  <p-rating [(ngModel)]="userRating" (onRate)="rateProduct()" [cancel]="false" [disabled]="!userService.roleMatch(['User'])"></p-rating>
</div>
    </div>
</div>



<div class="row mt-5">
  <div class="col-12">
    <h2>Add a Comment</h2>
    <form (ngSubmit)="saveComment()">
      <div class="form-group">
        <label for="commentText">Comment</label>
        <textarea id="commentText" [(ngModel)]="commentText" name="commentText" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!userService.roleMatch(['User'])">Submit</button>
    </form>
  </div>
      <div class="card">
        <div style="margin-bottom: 5vh;" *ngFor="let comment of comments; let i = index">
          <div class="d-flex comment-box" style="padding-right: 30px;padding-left: 100px;padding-top: 0px;padding-bottom: 18px;">
            <!-- <img class="rounded-circle" [src]="comment.user.userImage.url ? comment.user.userImage.url : '../../assets/default.png'" width="72" height="72"> -->
            <div>
              <!-- Template for the default image -->
              <ng-template #defaultImage>
                <img class="rounded-circle" src="../../assets/default.png" width="72" height="72">
              </ng-template>

              <!-- Main image with ngIf and else -->
              <img *ngIf="comment.user.userImage && comment.user.userImage.url; else defaultImage"
                   class="rounded-circle"
                   [src]="comment.user.userImage.url"
                   width="72"
                   height="72">
            </div>


              <div>
                  <div class="row text-end d-flex">
                      <div class="col-xl-12 d-flex align-items-center comment-user" style="padding-left: 23px;">
                          <h4 style="padding-bottom: 0px;margin-bottom: 4px;"> {{comment.user.userName}} </h4><span class="font-monospace comment-date" style="padding-left: 12px;color: #697077;"> {{comment.commentDate | date:'dd/MM/yyyy'}} </span>
                      </div>
                      <div class="col-xl-11 col-xxl-12 text-break text-start d-flex align-items-xxl-center comment-text" style="padding-left: 24px;">
                          <p class="text-break text-start">{{comment.commentText}}</p>
                      </div>
                      <div class="col-xl-12 d-flex d-xl-flex justify-content-stretch align-items-stretch comment-reply">
                        <div>
                          <!-- <a data-bs-toggle="collapse" aria-expanded="false" [attr.aria-controls]="'collapse-' + i" [attr.href]="'#collapse-' + i" role="button"><i class="fas fa-reply"></i> Reply</a> -->
                          <div [attr.id]="'collapse-' + i" class="collapse">
                                  <div class="d-flex flex-shrink-1 card-header reply-box">
                                      <div class="col">
                                          <form (ngSubmit)="saveComment()">
                                              <div class="d-flex comment-form" style="padding-bottom: 17px;"><label class="form-label" for="comment" style="padding-right: 19px;">Comment</label><textarea class="form-control form-control-lg" [(ngModel)]="commentText" name="comment" rows="3" cols="20"></textarea></div>
                                              <div class="text-center d-flex comment-buttons" style="padding-bottom: 13px;margin-left: 5vw;"><button class="btn btn-success" type="submit" style="margin-right: 22px;">Submit</button><button class="btn btn-danger" type="button">Cancel</button></div>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
</div>
</div>


<app-footer></app-footer>
